.list{
  width: 80%;
  margin: 50px auto 150px;
  box-sizing: border-box;
  display: grid;
  grid-row-gap: 30px;
  justify-items: center;
  justify-content: center;
  grid-column-gap: 30px;
  grid-template: 'a a a';
}
.blur{
  z-index: 2;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #262626;
}