@import "mediaqueries";
$red:#c2262e;
$black: #262626;
$white: #ffffff;
$new: #456454;


$wTriangle: 300px;
$wTriangle1: 270px;
$wDesc: 600px;
$gap: 30px;
$sizeHeader: 28px;
$sizeParagraph1: 25px;
$sizeParagraph2: 15px;
$time-animation: 0.5s;
$time-delay: 0.5s;



