@import "../../../asset/scss/mediaqueries";
@import "../../../asset/scss/variable";

.article .number, .article .title {
  color: $white;
  z-index: 2;

}

.article {
  width: $wTriangle;
  height: $wTriangle;
  background-color: $red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .number {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: $sizeParagraph2;
    transition: bottom $time-animation linear, left $time-animation linear;
  }

  .title {
    position: absolute;
    text-align: center;
    font-size: $sizeHeader;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    width: $wTriangle - 5px;
    transition: top $time-animation linear,
    right $time-animation linear,
    font-size $time-animation linear;
  }

  .desc {
    width: 0;
    height: $wTriangle;
    background-color: $white;
    position: absolute;
    top: 0;
    display: flex;
    transition: width linear $time-animation;

    p {
      text-align: center;
      z-index: 2;
      color: $black;
      font-size: $sizeParagraph2;
      width: 50%;
      margin: auto;
      height: 0;
      overflow-x: auto;
    }
  }

  .triangle {
    position: absolute;
    z-index: 1;

    &.down {
      border-bottom: $wTriangle solid $red;
      border-right: $wTriangle solid transparent;
      bottom: 0;
      left: 0;
      transition: bottom ease-in-out $time-animation, left ease-in-out $time-animation;
    }

    &.up {
      border-top: $wTriangle solid $red;
      border-left: $wTriangle solid transparent;
      top: 0;
      right: 0;
      transition: top ease-in-out $time-animation, right ease-in-out $time-animation;
    }

  }

  &.show {
    z-index: 3;

    .number {
      left: -50px;
      bottom: -1 * $gap;
      right: 0;
    }

    .title {
      width: $wTriangle1 / 2;
      top: -1 * $gap + 10px;
      right: $wTriangle1 - $wDesc;
      left: unset;
      bottom: unset;
      font-size: $sizeParagraph2;
      text-align: right;
      padding: 5px 15px;
    }

    .desc {
      width: $wDesc;

      p {
        height: 60%;
        transition: height linear $time-animation $time-delay;
      }
    }

    .triangle {
      &.down {
        bottom: -1 * $gap;
        left: -1 * $gap;
      }

      &.up {
        top: -1 * $gap;
        right: $wTriangle - $wDesc - $gap;
      }
    }
  }

  &.hide {
    .desc p {
      transition: height linear $time-animation;
    }
  }
}

@include breakpoints('tablet10') {
  .article {
    left: calc(60% - 230px);
    width: $wTriangle-t10;
    height: $wTriangle-t10;

    &.show {
      .title{
        right: $wTriangle-t10 - $wDesc-t10 - $gap - 8px;
        font-size: $sizeParagraph2-t10;
      }
      .desc {
        width: $wDesc-t10;
      }
      .number {
        left: -90px;
        font-size: $sizeParagraph2-t10;
      }
      .triangle {
        &.down {
          left: -1 * $gap;
        }

        &.up {
          right: $wTriangle-t10 - $wDesc-t10 - $gap;
        }
      }

    }
    &.hide desc{
      height: $wTriangle-t10;
    }

    .desc{
      height: $wTriangle-t10;
    }

    .triangle {
      position: absolute;
      z-index: 1;

      &.down {
        border-bottom: $wTriangle-t10 solid $red;
        border-right: $wTriangle-t10 solid transparent;
      }

      &.up {
        border-top: $wTriangle-t10 solid $red;
        border-left: $wTriangle-t10 solid transparent;
      }
    }
  }
}

@include breakpoints('phoneP'){
  .article {
    left: -$gap;
    //width: $wTriangle-pP;
    //height: $wTriangle-t10;

    .triangle {

      &.down {
        border-bottom: $wTriangle-pP solid $red;
        border-right: $wTriangle-pP solid transparent;
      }

      &.up {
        border-top: $wTriangle-pP solid $red;
        border-left: $wTriangle-pP solid transparent;
      }
    }
    &.show {
      .title{
        right: -82px;
        top: -43px;
        width: $wTriangle-pP / 2;
        font-size: $sizeParagraph2-pP;
      }
      .desc {
        width: $wDesc-pP;
        p{
          width: 60%;
        }
      }
      .number {
        left: -18px;
        width: 100px;
        font-size: $sizeParagraph2-pP - 1px;
      }
      .triangle {
        &.down {
          left: -1 * $gap;
        }

        &.up {
          right: -74px;
        }
      }

    }
    &.hide desc{
      height: $wTriangle-t10;
    }

    .desc{
      height: $wTriangle-t10;
    }

  }
}
